<div class="signup-page">
  <div class="overlay"></div> <!-- Superposition sombre -->
  <div class="signup-container">
    <div class="signup-header">
      <h2>Créer un compte</h2>
      <p>Rejoignez-nous et accédez à votre espace personnel</p>
    </div>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <!-- Champ Nom d'utilisateur -->
      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input
          type="text"
          id="username"
          class="form-control"
          placeholder="Entrez votre nom d'utilisateur"
          formControlName="username"
        />
        <p *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched" class="error">
          Ce champ est obligatoire.
        </p>
      </div>

      <!-- Champ Prénom -->
      <div class="form-group">
        <label for="lastname">Prénom</label>
        <input
          type="text"
          id="lastname"
          class="form-control"
          placeholder="Entrez votre prénom"
          formControlName="lastname"
        />
        <p *ngIf="signupForm.get('lastname')?.invalid && signupForm.get('lastname')?.touched" class="error">
          Ce champ est obligatoire.
        </p>
      </div>

      <!-- Champ Email -->
      <div class="form-group">
        <label for="email">Adresse e-mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="Entrez votre email"
          formControlName="email"
        />
        <p *ngIf="signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched" class="error">
          Ce champ est obligatoire.
        </p>
        <p *ngIf="signupForm.get('email')?.hasError('email') && signupForm.get('email')?.touched" class="error">
          Entrez une adresse e-mail valide.
        </p>
      </div>

      <!-- Champ Adresse -->
      <div class="form-group">
        <label for="cin">cin</label>
        <input
          type="text"
          id="cin"
          class="form-control"
          placeholder="Entrez votre cin"
          formControlName="cin"
        />
        <p *ngIf="signupForm.get('cin')?.hasError('required') && signupForm.get('cin')?.touched" class="error">
          Ce champ est obligatoire.
        </p>
        <p *ngIf="signupForm.get('cin')?.hasError('minlength') && signupForm.get('cin')?.touched" class="error">
        cin  doit contenir au moins 8 caractères.
        </p>
      </div>

      <!-- Champ Mot de passe -->
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input
          type="password"
          id="password"
          class="form-control"
          placeholder="Entrez votre mot de passe"
          formControlName="password"
        />
        <p *ngIf="signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched" class="error">
          Ce champ est obligatoire.
        </p>
        <p *ngIf="signupForm.get('password')?.hasError('minlength') && signupForm.get('password')?.touched" class="error">
          Le mot de passe doit contenir au moins 6 caractères.
        </p>
      </div>

      <!-- Bouton S'inscrire -->
      <button
        type="submit"
        [disabled]="isSubmitting || signupForm.invalid"
        class="btn-signup"
      >
        S'inscrire
      </button>
    </form>

    <!-- Message d'erreur général -->
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

    <!-- Lien de connexion -->
    <p class="login-link">
      Vous avez déjà un compte ? <a routerLink="/login">Connectez-vous ici</a>.
    </p>
  </div>
</div>
