<tr *ngFor="let reclamation of reclamations">
  <td>{{ reclamation.description }}</td>
  <td class="text-center">{{ reclamation.dateSoumission | date: 'dd/MM/yyyy' }}</td>
  <td class="text-center">
    <span
      [ngClass]="{
        'badge bg-warning text-dark': reclamation.statut === 'EN_COURS',
        'badge bg-success': reclamation.statut === 'TRAITEE',
        'badge bg-danger': reclamation.statut === 'EN_ATTENTE'
      }"
    >
      {{ reclamation.statut }}
    </span>
  </td>
  <td class="text-center">
    <select
    (change)="onStatutChange($event, reclamation?.id)"
    class="form-select"
    [ngModel]="reclamation.statut"
  >
    <option value="EN_ATTENTE">En attente</option>
    <option value="EN_COURS">En cours</option>
    <option value="TRAITEE">Traitée</option>
  </select>
  
  </td>
</tr>
