<p class="table-title">Réclamations</p>

<div class="table-container">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Description</th>
        <th>Date de soumission</th>
        <th>Statut</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reclamation of reclamations">
        <td>{{ reclamation.description }}</td>
        <td>{{ reclamation.dateSoumission | date: 'shortDate' }}</td>
        <td>
          <span [ngClass]="{
            'text-warning': reclamation.statut === 'EN_COURS',
            'text-success': reclamation.statut === 'TRAITEE',
            'text-danger': reclamation.statut === 'EN_ATTENTE'
          }">
            {{ reclamation.statut }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>