<mat-toolbar color="primary" class="app-toolbar">


  <div class="toolbar-buttons">
    <button 
      mat-raised-button 
      color="primary" 
      [routerLink]="['/dashboard-responsable/ajouter-article']" 
      class="toolbar-btn"
    >
      <mat-icon>add</mat-icon> Ajouter Article
    </button>

    <button 
      mat-raised-button 
      color="primary" 
      [routerLink]="['/dashboard-responsable/liste-articles']" 
      class="toolbar-btn"
    >
      <mat-icon>view_list</mat-icon> Liste des Articles
    </button>

    <button 
      mat-raised-button 
      color="primary" 
      [routerLink]="['/dashboard-responsable/liste-reclamations']" 
      class="toolbar-btn"
    >
      <mat-icon>feedback</mat-icon> Liste des Réclamations
    </button>
    <button 
    mat-raised-button 
    color="primary" 
    [routerLink]="['/dashboard-responsable/Ajouttech']" 
    class="toolbar-btn"
  >
    <mat-icon>add</mat-icon> Ajouter Technecien
  </button>
    <!-- Bouton de déconnexion -->
    <button 
      mat-raised-button 
      color="warn" 
      (click)="logout()" 
      class="toolbar-btn logout-btn"
    >
      <mat-icon>logout</mat-icon> Déconnexion
    </button>
  </div>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet> <!-- Composants enfants affichés ici -->
</div>
