<!-- dashboard-client.component.html -->
<div class="container">
    <nav class="menu">
      <ul>
        <li (click)="setSection('profile')">Profil</li>
        <li (click)="setSection('reclamation')">Créer Réclamation</li>
        <li (click)="setSection('suivi')">Suivi Réclamations</li>
      </ul>
    </nav>
    <main>
      <div *ngIf="section === 'profile'">Profil</div>
      <div *ngIf="section === 'reclamation'">Créer une Réclamation</div>
      <div *ngIf="section === 'suivi'">Suivi des Réclamations</div>
    </main>
  </div>
  